.MuiAutocomplete-listbox {
    background-color: #1e293b !important;
    color: white !important;
}
.MuiAutocomplete-option {
    color: white !important;
}
.MuiAutocomplete-option:hover {
    background-color: #334155 !important;
}
